.nom {
    margin: 50px 250px;
    width: 50px;
    background-color: aqua;
    font-size: 40px;
}

.counter {
    margin-left: 60px;
    border-radius: 50%;
    background-color: green;
    width: 100px;
    height: 50px;
}
.reset {
    margin-left: 60px;
    border-radius: 50%;
    background-color: red;
    width: 100px;
    height: 50px;
}
.quita {
    margin-left: 60px;
    border-radius: 50%;
    background-color: blue;
    width: 100px;
    height: 50px;
}