.container {
    max-width: 500px;
    margin: 50px auto;
    background-color: antiquewhite;
    border-radius: 15px;
    box-shadow: 10px 10px 10px black ;
}
.title  {
    text-align: center;
}

.counter {
    width: 100px;
    margin: 50px auto;
    background-color: aqua;
    font-size: 50px;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(148, 148, 148);
    border-radius: 5px;
}
.buttons{
    display: flex;
    justify-content: space-around;
    
    

}
button {
    width: 100px;
    margin: 10px;
    border-radius: 5px;
    background-color: #aaa
}
button:hover {
background-color: azure;
}